{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Welcome</title>

    <!-- Custom fonts for this template-->
    <link href="{% static "vendor/fontawesome-free/css/all.min.css" %}" rel="stylesheet" type="text/css">
    <link href="{%static "https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" %}" rel="stylesheet">

    {%block custom_css%}
    <!-- Custom styles for this template-->
    <link href="{%static "css/sb-admin-2.min.css" %}" rel="stylesheet">
    {%endblock custom_css%}

</head>

<body id="page-top">
    <div id="wrapper"><!-- Page Wrapper -->
        <!-- Sidebar -->
        {%include 'teacherTemplate/sidebar.html'%}
        <!-- End of Sidebar -->

        <div id="content-wrapper" class="d-flex flex-column"><!-- Content Wrapper -->
            <div id="content"> <!-- Main Content -->
                <!-- Topbar -->
                {%include 'teacherTemplate/topbar.html'%}
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container">
                    {% block main_content%}
                    <h1>Welcome to your Class!</h1> 
                    <br/>
                        
                        <table class="table" style="counter-reset: row-num;">
                            <thead>
                              <tr >
                                <th scope="col">#</th>
                                <th scope="col">KTU ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Semester</th>
                                <th scope="col">Department</th>
                                <th scope="col">Points</th>
                                <th scope="col">Phone No.</th>
                                <th scope="col">Email</th>
                              </tr>
                            </thead>
                            {% for student in student_list %}
                            <tbody>
                              <tr style="counter-reset: row-num;">
                                <th scope="row"></th>
                                <td>{{ student.ktu_id }}</td>
                                <td>{{ student.name }}</td>
                                <td>{{ student.sem }}</td>
                                <td>{{ student.dept }}</td>
                                <td>{{ student.points }}</td>
                                <td>{{ student.ph }}</td>
                                <td>{{ student.email }}</td>
                              </tr>
                            </tbody>
                            {% endfor %}
                          </table>
                        
                    {%endblock main_content%}
                </div>
                
            </div><!-- End of Main Content -->
        </div><!-- End of Content Wrapper -->
    </div><!-- End of Page Wrapper -->


    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="http://localhost:8000">Logout</a>
                </div>
            </div>
        </div>
    </div>

    {%block custom_js%}
    <!-- Bootstrap core JavaScript-->
    <script src="{%static "vendor/jquery/jquery.min.js" %}"></script>
    <script src="{%static "vendor/bootstrap/js/bootstrap.bundle.min.js"%}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{%static "vendor/jquery-easing/jquery.easing.min.js"%}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{%static "js/sb-admin-2.min.js" %}"></script>

    <!-- Page level plugins -->
    <script src="{%static "vendor/chart.js/Chart.min.js" %}"></script>

    <!-- Page level custom scripts -->
    <script src="{%static "js/demo/chart-area-demo.js"%}"></script>
    <script src="{%static "js/demo/chart-pie-demo.js"%}"></script>

   {%endblock custom_js%}

</body>

</html>